<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{../../../static/assets/favicon.ico}"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{../../../static/css/styles.css}" rel="stylesheet"/>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <!--slick carousel cdn-->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!--<script type="text/javascript" th:src="@{/js/products/addToCart_SingleSelect.js}"></script>-->

    <style>

        img {
            width: 300px;
            height: 150px;
            object-fit: cover;
        }

    </style>


</head>

<body class="bg-white">
    <!--header-->
    <div th:replace="~{common/fragments/header::fragment-header}"></div>
    <!--navbar-->
    <div th:replace="~{common/fragments/navbar::fragment-navbar}"></div>

<!--body start-->
<div class="container-fluid d-flex justify-content-center">
    <div class="w-75">
        <!--h1 product type-->
        <div class="pt-5 text-center">
            <div th:if="${#strings.isEmpty(typeId)}">
                <h1>전체 상품</h1>
            </div>
            <div th:if="${not #strings.isEmpty(typeId)}">
                <h1 th:text="${types.get(typeId-1).getTypeKoName()}"></h1>
            </div>
        </div>

        <div class="container-md m-auto p-3 d-flex justify-content-center border-bottom col-12 col-sm-auto" >
            <button class="border-0 shadow-none btn-outline-light text-dark btn btn-outline-light ps-4 pe-4 pt-2 pb-2 rounded-3 me-lg-3"
                    th:value="''"
                    onclick="selectType(this.value)">
                전체 상품
            </button>
            <button class="border-0 shadow-none btn-outline-light text-dark btn btn-outline-light ps-4 pe-4 pt-2 pb-2 rounded-3 me-lg-3"
                    th:value="1"
                    onclick="selectType(this.value)">
                없음
            </button>
            <button class="border-0 shadow-none btn-outline-light text-dark btn btn-outline-light ps-4 pe-4 pt-2 pb-2 rounded-3 me-lg-3"
                    th:value="2"
                    onclick="selectType(this.value)">
                베스트셀러
            </button>
            <button class="border-0 shadow-none btn-outline-light text-dark btn btn-outline-light ps-4 pe-4 pt-2 pb-2 rounded-3 me-lg-3"
                    th:value="3"
                    onclick="selectType(this.value)">
                추천
            </button>
            <button class="border-0 shadow-none btn-outline-light text-dark btn btn-outline-light ps-4 pe-4 pt-2 pb-2 rounded-3 me-lg-3"
                    th:value="4"
                    onclick="selectType(this.value)">
                인기
            </button>
            <button class="border-0 shadow-none btn-outline-light text-dark btn btn-outline-light ps-4 pe-4 pt-2 pb-2 rounded-3 me-lg-3"
                    th:value="5"
                    onclick="selectType(this.value)">
                신작
            </button>
            <button class="border-0 shadow-none btn-outline-light text-dark btn btn-outline-light ps-4 pe-4 pt-2 pb-2 rounded-3 me-lg-3"
                    th:value="6"
                    onclick="selectType(this.value)">
                할인
            </button>
            <button class="border-0 shadow-none btn-outline-light text-dark btn btn-outline-light ps-4 pe-4 pt-2 pb-2 rounded-3 me-lg-3"
                    th:value="7"
                    onclick="selectType(this.value)">
                새로 입고된
            </button>

        </div>

        <!--body content start-->

        <div th:each="product, productStat:${products}" class="align-content-center mb-0 mt-3 border-bottom">

            <div class="row d-flex justify-content-center align-content-center">
                <div class="card-body col-12 p-3 d-flex justify-content-center">

                    <!--body - book information image-->
                    <div class="w-25 card-img row">
                        <div class="col-2">
                            <span th:text="${productStat.count}+'.'"></span>
                            <span><input type="checkbox"></span></div>
                        <img class="border-0 p-0 col-10 img-thumbnail" th:src="${product.thumbnailUrl}">
                    </div>

                    <!--body - book information content -->
                    <div class="card-item ps-5 w-75 d-inline-block text-truncate">
                        <a class="btn border-0 shadow-none text-start" th:href="|/products/${product.productId}|">
                            <h1 class="" th:text="${product.productName}"></h1></a>
                        <div class="ps-3">
                            <!--            해당부분은 작가를 찾아서 전체 작가 조회 리스트를 뿌려주는 페이지, 로직을 짠 뒤에 작성하도록  <a th:href="|/products/|"> -->
                            <!--                <span th:text="${product.authorName} + ' | '"></span>-->
                            <!--              </a>-->
                            <span th:text="${product.authorName}"></span>
                            <strong> | </strong>
                            <span th:text="${product.publisherName}"></span>
                        </div>
                        <div class="ps-3">
                              <span style="text-decoration: line-through;"
                                    th:text="${#numbers.formatInteger(product.rawPrice, 1, 'COMMA')} + '원'"></span>
                            <span class="material-icons align-content-center">arrow_right_alt</span>
                            <span th:text="${#numbers.formatInteger(product.fixedPrice, 1, 'COMMA')} + '원'"></span>
                        </div>

                    </div>

                    <div class="card-item w-25 d-flex justify-content-center">
                        <div class="row">
                            <div class="col-12 ms-5">
                                <button th:if="${product.isSelled}"
                                   th:attr="product-id=${product.productId}"
                                   class="btn btn-yellow border-0 col-lg-6 col-sm-2 pb-2 mb-3 text-center text-light">장바구니</button>
                                <a class="btn btn-danger border-0 col-lg-6 col-sm-2 pb-2 mb-3 text-center text-light"
                                   th:href="|/payments|">바로구매</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>


</div>
<!--pagination nav-->
<div th:replace="~{common/utils/pagination-nav::paging('/products', ${#strings.isEmpty(typeId)? '': '&typeId='+typeId})}"></div>
<!--footer-->
<div th:replace="~{common/fragments/footer::fragment-footer}"></div>

<script>
    function selectType(typeId) {
        if (typeId === '') {
            window.location.href = '/products';
        } else {
            window.location.href = '/products?typeId=' + typeId;
        }
    }

</script>

<script>

    /**
     * 해당 함수는 상품 목록에서 장바구니에 담기 버튼을 눌렀을 때 작동합니다.
     *
     * 이 작업은 체크박스가 아닌 단일 제품을 1개씩 추가할 때 사용하기 때문에 수량과 ebook 여부를 명시한채 진행했습니다.
     * */


</script>

    <script>
        document.querySelectorAll("button[product-id]").forEach(button => {
            button.addEventListener("click", function() {
                let productId = this.getAttribute("product-id");
                addToCart_singleSelect(productId);
                console.log("Clicked button for Product ID: " + productId);
            });
        });

        function addToCart_singleSelect(productId){
            console.log("여긴 작동을 하니?")
            const url = "/cart";
            const request = {
                productId: productId,
                quantity: 1,
                isEbook : false
            }

            fetch(url, {
                method:'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(request)
            }).then((response)=> {
                return response.json();
            }).then(data => {
                console.log(data.status)
                if (data.status === 200){
                    confirmCartViewPage()
                } else {
                    alert(data.data)
                }
            })

        }

        function confirmCartViewPage(){

            let result;
            result = confirm("해당 상품이 장바구니에 추가 되었습니다. 장바구니로 이동하시겠습니까?")

            if (result){
                window.location.href = "/cart";
            } else{
                console.log("계속 해당 페이지에 남아있기!~")
            }
        }
    </script>


</body>
</html>