<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>yalooStore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{../../../static/assets/favicon.ico}"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{../../../static/css/styles.css}" rel="stylesheet"/>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!--slick carousel cdn-->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/css/cart-css.css">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous">

    </script>

</head>
<body>

  <!--header-->
  <div th:replace="~{common/fragments/header::fragment-header}"></div>

  <!-- navbar -->
  <div th:replace="~{common/fragments/navbar::fragment-navbar}"></div>



<div class="bg-white">
  <section class="cart">
      <div class="cart__information">
          <ul>
              <li>장바구니 상품은 최대 30일간 저장됩니다.</li>
              <li>가격, 옵션 등 정보가 변경된 경우 주문이 불가할 수 있습니다.</li>
              <li>오늘출발 상품은 판매자 설정 시점에 따라 오늘출발 여부가 변경될 수 있으니 주문 시 꼭 다시 확인해 주시기 바랍니다.</li>
          </ul>
      </div>
      <table class="cart__list">
          <form>
              <thead>
              <tr>
                  <td><input type="checkbox"></td>
                  <td colspan="2">상품정보</td>
                  <td>옵션</td>
                  <td>상품금액</td>
                  <td>배송비</td>
              </tr>
              </thead>

              <!-- 상품 리스트 시작-->
              <tbody>
              <tr class="cart__list__detail">

                  <td><input type="checkbox"></td>
                  <td><img alt="magic keyboard"></td>
                  <td><a href="#">애플 공식 브랜드스토어</a><span class="cart__list__smartstore"> 스마트스토어</span>
                      <p>Apple 매직 키보드 - 한국어(MK2A3KH/A)</p>
                      <sapn class="price">116,62원</sapn><span
                              style="text-decoration: line-through; color: lightgray;">119,000</span>
                  </td>
                  <td class="cart__list__option">
                      <p>모델명 : 키보드 - 한국어 MK2A3KH/A / 1개</p>
                      <button class="cart__list__optionbtn">주문조건 추가/변경</button>
                  </td>
                  <td><span class="price">116,620원</span><br>
                      <button class="cart__list__orderbtn">주문하기</button>
                  </td>
                  <td>무료</td>
              </tr>
              <tr class="cart__list__detail">
                  <td style="width: 2%;"><input type="checkbox"></td>
                  <td style="width: 13%;">
                      <img src="image/mouse.jpg" alt="magic mouse">
                  </td>
                  <td style="width: 27%;"><a href="#">컴퓨존</a><span class="cart__list__smartstore"> 스마트스토어</span>
                      <p>[애플] Magic Mouse [MK2E3KH/A]</p>
                      <span class=" price">88,900원</span>
                  </td>
                  <td class="cart__list__option" style="width: 27%;">
                      <p>상품 주문 수량: 1개</p>
                      <button class="cart__list__optionbtn">주문조건 추가/변경</button>
                  </td>
                  <td style="width: 15%;"><span class="price">88,900원</span><br>
                      <button class="cart__list__orderbtn">주문하기</button>
                  </td>
                  <td style="width: 15%;">무료</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                  <td colspan="3"><input type="checkbox"> <button class="cart__list__optionbtn">선택상품 삭제</button>
                      <button class="cart__list__optionbtn">선택상품 찜</button>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              </tfoot>
          </form>
      </table>
      <div class="cart__mainbtns">
          <button class="cart__bigorderbtn left">쇼핑 계속하기</button>
          <button class="cart__bigorderbtn right">주문하기</button>
      </div>
  </section>

  <p class="bg-light pt-4 text-center mt-5 mb-3 text-muted pb-5"><span><a href="https://github.com/yeomyaloo"> yaloo</a><span>&copy; 2023</p>

</div>
</body>
</html>